<nav class="navbar navbar-expand-lg navbar-dark fixed-top p-2">
    <div class="container-xxl">
        <a href="{{ '/' | relative_url }}" class="navbar-brand">
            <img src="{{ '/files/profile/picture-square.jpg' | relative_url }}" width="56px" alt="Logo"><b>Giulio Caflisch</b> 
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/poetry.html' %}active{% endif %}" href="{{ '/,athematical_poetry.html' | relative_url }}">Poesie Matematiche</a>
                </li>
                <li>
                    <a class="nav-link {% if page.url == '/poetry.html' %}active{% endif %}" href="{{ '/personal_poetry.html' | relative_url }}">Poesie Personali</a>
                </li>
            </ul>
        </div>
    </div>
</nav>