@font-face {
    font-family: "Monomath";
    
    src: url('assets/fonts/monomath-light.ttf');
    src: url('assets/fonts/monomath-light.ttf') format('truetype');
    
    font-weight: normal;
    font-style:  normal;
}

:root {
    --main-background-color: rgb(18, 18, 18);
    --pre-background-color: rgb(30, 30, 30);
    --nav-background-color: rgb(0, 0, 0);
    --header-background-color: rgb(70, 22, 22);

    --main-color: rgb(212, 212, 212);
    --link-color: rgb(255, 255, 255);
    --hover-link-color: rgb(151, 33, 33);
}

html, body {
    background-color: var(--main-background-color);

    color: var(--main-color);
    
    font-family: "Monomath";
    font-size: 18px;

    height: 100%;

    margin-left:   0px;
    margin-right:  0px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

hr {
    border: 1px solid var(--main-color);

    margin-top:    12px;
    margin-bottom: 12px;

    padding-top:    0px;
    padding-bottom: 0px;
}

h1 {
    font-weight: bold;
    font-size:   2.5rem;
}

h2 {
    font-weight: bold;
    font-size:   1.5rem;
}

h3 {
    font-weight: bold;
    font-size:   1.25rem;
}

h4 {
    font-weight: bold;
    font-size:   1.0rem;
}

h5 {
    font-weight: bold;
    font-size:   0.75rem;
}

pre {
    display: block;

    resize: none;
    overflow: hidden;
    max-width: 100%;

    background-color: var(--pre-background-color);

    color: var(--main-color);
    
    font-family: "Monomath";

    margin-top:    12px;
    margin-bottom: 12px;
    margin-left:   0px;
    margin-right:  0px;
}

sub {
    font-size: 0.50em;
}

sup {
    font-size: 0.50em;
}

nav {
    background-color: var(--nav-background-color);
}

header {
    padding-top: 5.5rem;
    background-color: var(--header-background-color);
}

footer {
    background-color: var(--nav-background-color);
}

.navbar-brand {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 2rem;
    padding: 0;
    display: inline-block;
}

.navbar-brand img {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.25rem;
    padding: 0;
    display: inline-block;
}

.rounded-brand img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.rounded-brand {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-item .nav-link {
    color: var(--link-color)
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--hover-link-color);
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--hover-link-color);
    text-decoration: underline;
}

.footer-brand {
    color: var(--link-color) !important;
    text-decoration: none !important;

    margin: 0;
    padding: 0;
    display: inline-block;
}

.footer-brand img {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.20rem;
    padding: 0;
    display: inline-block;
}

.editable {
    outline: none !important;
}

.editable:focus {
    box-shadow: 0 0 10px;
}

.bg-success {
    background-color: var();
}

.fs-7 {
    font-size: 0.75rem;
}

.fs-8 {
    font-size: 0.5rem;
}

.fs-9 {
    font-size: 0.25;
}